<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF - 8">
    <title>电饭煲预约时间计算</title>
</head>

<body>
    <h1>电饭煲预约时间计算</h1>
    <form action="/calculate" method="post">
        <label for="eat_time">想要吃饭的时间(格式为HH:MM)：</label><br>
        <input type="text" id="eat_time" name="eat_time"><br>
        <label for="work_minutes">希望电饭煲工作的分钟数：</label><br>
        <input type="text" id="work_minutes" name="work_minutes"><br><br>
        <input type="submit" value="计算预约时间">
    </form>
</body>

</html>